.ImageComapreBg {
    padding: 4rem;
    background: #fff;

}
.ImageComapreBg-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 10px;
    align-items: stretch;
    justify-content: center;
}
.ImageComapreBg-card  {
    width: 300px;
    display: flex;
    box-shadow: 0 8px 20px rgba(56, 125, 255, 0.17);
    align-items: center;
    position: relative;
    margin: 50px 0 45px;
 
}
.ImageComapreBg-card ,img{
    position: relative;
    width: 100%;
    overflow: hidden;
    
}
